# Features selection

In [183]:

#Import and preparation of data
import pandas as pd
import zipfile
import numpy as np
import datetime
import time

z = zipfile.ZipFile('../input/train.csv.zip')
train = pd.read_csv(z.open('train.csv'), parse_dates=['Dates'])

#On sample only : remove #
#train = train.head()

PdDistrictDic = {'CENTRAL':1, 'NORTHERN':2, 'INGLESIDE':3, 'PARK':4, 'MISSION':5, 'TENDERLOIN':6, 'RICHMOND':7, 'TARAVAL':8, 'BAYVIEW':9, 'SOUTHERN':10}
CategoryDic = {'KIDNAPPING':1, 'WEAPON LAWS':2, 'SECONDARY CODES':3, 'WARRANTS':4, 'PROSTITUTION':5, 'EMBEZZLEMENT':6, 'LOITERING':7, 'SUICIDE':8, 'DRIVING UNDER THE INFLUENCE':9, 'SEX OFFENSES FORCIBLE':10, 'ROBBERY':11, 'BURGLARY':12, 'SUSPICIOUS OCC':13, 'FAMILY OFFENSES':14, 'BRIBERY':15, 'FORGERY/COUNTERFEITING':16, 'BAD CHECKS':17, 'DRUNKENNESS':18, 'GAMBLING':19, 'OTHER OFFENSES':20, 'RECOVERED VEHICLE':21, 'FRAUD':22, 'ARSON':23, 'DRUG/NARCOTIC':24, 'TRESPASS':25, 'LARCENY/THEFT':26, 'VANDALISM':27, 'NON-CRIMINAL':28, 'EXTORTION':29, 'PORNOGRAPHY/OBSCENE MAT':30, 'LIQUOR LAWS':31, 'SEX OFFENSES NON FORCIBLE':32, 'TREA':33, 'VEHICLE THEFT':34, 'STOLEN PROPERTY':35, 'ASSAULT':36, 'MISSING PERSON':37, 'DISORDERLY CONDUCT':38, 'RUNAWAY':39}

#Calculates features in a numeric format
train['Year'] = train['Dates'].map(lambda x: int(x.year))
train['Month'] = train['Dates'].map(lambda x: int(x.month))
train['Day'] = train['Dates'].map(lambda x: int(x.day))
train['DayOfYear'] = train['Dates'].map(lambda x: int(x.strftime("%m%d")))
train['Time'] = train['Dates'].map(lambda x: int(str(x.hour)+str(x.minute)))
train['DayOfWeekNb'] = train['Dates'].map(lambda x: x.strftime("%w")) #1 = Monday, 7 = Sunday
train['Xnb'] = -train['X'] #X is always negative => Xnb will be positive
train['Ynb'] = train['Y']
train['PdDistrictNb'] = train['PdDistrict'].map(lambda x: PdDistrictDic[x])
train['CategoryNb'] = train['Category'].map(lambda x: CategoryDic[x])

#Display of 10 first lines to show the structure
train.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,Year,Month,Day,DayOfYear,Time,DayOfWeekNb,Xnb,Ynb,PdDistrictNb,CategoryNb
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,13,513,2353,3,122.425892,37.774599,2,4
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,13,513,2353,3,122.425892,37.774599,2,20
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,2015,5,13,513,2333,3,122.424363,37.800414,2,20
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,2015,5,13,513,2330,3,122.426995,37.800873,2,26
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,2015,5,13,513,2330,3,122.438738,37.771541,4,26

In [185]:
#Selection of features
X = train[['PdDistrictNb','Year','Month','DayOfYear','Time','DayOfWeekNb','Xnb','Ynb']]
X.head()

,PdDistrictNb,Year,Month,DayOfYear,Time,DayOfWeekNb,Xnb,Ynb
0,2,2015,5,513,2353,3,122.425892,37.774599
1,2,2015,5,513,2353,3,122.425892,37.774599
2,2,2015,5,513,2333,3,122.424363,37.800414
3,2,2015,5,513,2330,3,122.426995,37.800873
4,4,2015,5,513,2330,3,122.438738,37.771541

In [213]:
#Extraction of results in numeric format for chi square calculation
Y = train['CategoryNb']
Y.head()

0     4
1    20
2    20
3    26
4    26
Name: CategoryNb, dtype: int64

In [187]:
from sklearn.feature_selection import SelectKBest, chi2

#Compute chi-squared stats between each non-negative feature and class
result = chi2(X,Y)
print "P-values of features with chi square test: " 
print result[1]

P-values of features with chi square test:
[  0.00000000e+000   4.42290039e-010   7.17645870e-244   0.00000000e+000
   0.00000000e+000   8.29566973e-116   1.00000000e+000   1.00000000e+000]